<p>Contact Detail:</p>
<a
        routerLink="/">
        Back
      </a>  
<ul>
    <li>
        Salutation: {{contact.salutation}}
    </li>
    <li>
        FirstName: {{contact.firstName}}
    </li>
    <li>
        LastName: {{contact.lastName}}
    </li>
    <li>
        AddressLine1: {{contact.addressLine1}}
    </li>
    <li>
        AddressLine2: {{contact.addressLine2}}
    </li>
    <li>
        City: {{contact.city}}
    </li>
    <li>
        State: {{contact.state}}
    </li>
    <li>
        ZipCode: {{contact.zipCode}}
    </li>
    <li>
        EmailAddress: {{contact.emailAddress}}
    </li>
    <li>
        TelePhoneNumber: {{contact.telePhoneNumber}}
    </li>
</ul>